/* All Global Css Start */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

.container{
    width: 1240px;
    margin: 0 auto;
}
/* All Global Css End */

/* Header Part Start */
#headerPart{
    padding: 40px 0;
}

.flexHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerName ul li{
    display: inline-block;
}
.headerName ul li a{
    font-size: 16px;
    font-weight: 600px;
    padding: 0 36px;
}
.iconFlex{
    display: flex;
    align-items: center;
    column-gap: 45px;
}
/* Header Part End */